.test_container {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.questions_div {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 100%;
    margin-left: 5px;

}



.question {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    min-height: 400px;
}


.options {
    display: flex;
    flex-direction: column;
}



.question_buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
    padding: 10px;
}

.btn {
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.question_buttons button:first-child {
    margin-right: 10px;
}

.question_buttons button:last-child {
    margin-left: 10px;
}

.save_butn {
    background-color: #F4D03F;
}

.prev_butn,
.next_butn {
    background-color: #2ECC71;
}

.submit_btn {
    background-color: #4CAF50;
    background-color: #FF6347;
    background-color: #A9A9A9;
    background-color: #FF6666;
}

.options label {
    margin: 5px 0;
}