/* test info */
.question-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    gap: 10px;
    height: 60vh;
    overflow-y: scroll;

}

.question-button {
    padding: 10px 15px;
    /* margin: 0 10px; */
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #A9A9A9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.question-button:hover {
    background-color: #0062cc;
}

.question-button.active {
    background-color: #28a745;
}

.visited {
    background-color: #007bff;
}


.question-list::-webkit-scrollbar {
    width: 3px;
    /* background: orange; */
}